fastapi==0.111.0      # For building the incoming API/Webhook listener
uvicorn==0.30.1      # The server engine that keeps FastAPI running
paramiko==3.4.0     # The library that connects and uploads to SFTP servers
python-dotenv==1.0.1 # Allows Python to read your secret .env file